$grey: #7d7987;
$accent: #458ff6;
$white: #fff;
$box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
$small-devices: 767.98px;
$medium-devices: 991.98px;

@mixin button($background-color, $color) {
  background-color: $background-color;
  color: $color;
  display: flex;
  padding: 12px 30px;
  border: none;
  border-radius: 55px;
  font-size: 18px;
  justify-content: space-around;
  align-items: center;
}